/*
#003331 dark bg
#00FFF8 light bg
#11D97C hover green
#161616 black bg
#035949 contact card bg
#08A689 light green bg
#00333181 account/checkout bg
#CFCFCF light grey
#38706D checkout h1
*/
/*SHADOW
filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(26, 26, 26, 0.37));*/

/*Reset*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62,5%;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/*Globals*/
.style_b-ops {
    font-family: "Black Ops One", "Open Sans", cursive, arial;
}
.on-page {
    color: #11D97C;
}

/*Primary Nav*/
.primary-nav {
    background-color: #141414e5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.primary-nav .nav-logo img {
    width: 17rem;
}

.primary-nav ul {
    display: flex;
}

.primary-nav ul li a {
    padding: 2rem;
    display: inline-block;
    font-weight: bold;
}

.primary-nav ul li a:hover {
   color: #11D97C;
}

.primary-nav .fa-gamepad {
    font-size: 3.5rem;
}

.primary-nav .fa-gamepad:hover {
    color: #11D97C;
}

.primary-nav ul li a i {
    font-size: 1.5rem;
}

/*GAMES NAV*/
.games-nav a:hover {
    color: #11D97C;
    text-decoration: underline;
}

.games-nav ul li .on-page_games-nav {
    color: #11D97C;
    text-decoration: underline;
}

.games-nav {
    display: flex;
    flex-direction: column;
}

.games-nav a {
    font-size: 1.5rem;
}

.games-nav ul li {
    margin-top: 1rem;
}

/*Footer*/
footer {
    background-color: #161616;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    color: white;
}

footer .social-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

footer .social-container ul {
    display: flex;
    margin-left: 2rem;
}

footer .social-container ul li a {
    display: inline-block;
    padding: 1rem 1.5rem;
    font-size: 0.9rem;
}

footer .social-container ul li a:hover {
    color: #11D97C;
}

/*INDEX*/
.index-header {
    background-image: linear-gradient(#002927f1, #00fff7ea),
    url(/images/background/index-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.index_hero-content {
    padding: 4rem 0;
    min-height: 91vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.index_hero-content h1 {
    font-size: 3rem;
    margin-bottom: 5rem;
}

.index_hero-content h2 {
    margin-bottom: 1rem;
}

.index_hero-content h3 {
    margin-bottom: 5rem;
}

.index_hero-content h3 a {
    color: #161616;
    font-style: italic;
    font-weight: bolder;
}

.index_hero-content h3 a:hover {
    color: #11D97C;
    text-decoration: underline;
}

.index_hero-btn {
    background-color: #161616;
    padding: 2rem 3rem;
    font-size: 2rem;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(26, 26, 26, 0.37));
}

.index_hero-btn:hover {
    color: #11D97C;
    text-decoration: underline;
}

/*CONTACT*/
.contact-header {
    background-image: linear-gradient(#003331e3, #00fff7ea),
    url(/images/background/contact-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact-container {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 92vh;
}

.contact-form {
    background-color: white;
    filter: drop-shadow(0.3rem 0.3rem 0.3rem rgba(26, 26, 26, 0.37));
    padding: 3rem 4rem 3rem 4rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    min-width: 33rem;
}

/*
JS INNERHTML*/
.complete-container {
    text-align: center;
}
.complete-container h3 {
    margin-bottom: 3rem;
}
.back-btn {
    margin-top: 4rem;
    background-color: #08A689;
    padding: 0.8rem 3rem;
    display: inline-block;
    font-family: "open sans", helvetica, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.3rem;
}
.back-btn:hover {
    background-color: #067e68;
}
/*
JS INNERHTML*/

.contact-form h1 {
    margin-bottom: 2rem;
    color: #38706D;
}

.contact-form label input, .contact-form label textarea {
    display: block;
    padding: 0.4rem 0.6rem;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    border: 2px solid #CFCFCF;
    width: 100%;
    font-family: "open sans", helvetica, sans-serif;
    resize: none;
}

.contact-form label input:focus, .contact-form label textarea:focus {
    border: 2px solid #38706D;
    outline: none !important;
}

.contact-form label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #9e9e9e;
}


.contact-form div {
    margin-bottom: 1.5rem;
}

.error-message {
    display: none;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 0.7rem;
}

.contact-container .last-div {
    margin-bottom: 3rem;
}

.contact-form .submit-btn {
    font-family: "open sans", helvetica, sans-serif;
    background-color: #08A689;
    color: white;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 700;
}

.contact-form .submit-btn:focus {
    outline: none !important;
}

.contact-form .submit-btn:hover {
    background-color: #067e68;
    cursor: pointer;
}

.contact-form .submit-btn:disabled {
    background-color: rgb(192, 192, 192);
    cursor: default;
}

/*SIGN IN*/
.sign-header {
    background-image: linear-gradient(#003331e3, #00fff7ea);
}
#no-margin {
    margin-bottom: 0;
}
.forgot-password {
    color: #9e9e9e;
    align-self: flex-end;
    margin-top: 0.8rem;
    margin-bottom: 3rem;
    font-size: 0.85rem;
    font-weight: 700;
}

.forgot-password:hover {
    color: #067e68;
}

.sign-extra_container {
    text-align: center;
    margin-top: 3rem;
}

.sign-extra_container p {
    color: #9e9e9e;
    margin-bottom: 0.9rem;
    font-size: 0.9rem;
    font-weight: 700;
}

.sign-extra_container a {
    color: black;
    font-weight: 700;
}

.sign-extra_container a:hover {
    color: #067e68;
}

/*ACCOUNT*/
.account-nav a:hover {
    color: #47ff47;
    text-decoration: underline;
}

.account-flex {
    padding: 0 20rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    min-height: 93vh;
}

.account-flex section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.account-flex_profile {
    display: flex;
    align-items: center;
}

.account-flex_profile img {
    margin-right: 2rem;
}

.account-flex_profile h1 {
    font-size: 1.7rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
}

.account-flex_profile h2 {
    font-size: 1rem;
    font-weight: normal;
}

.account-flex section a {
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(26, 26, 26, 0.37));
}

.account-flex_add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-nav {
    line-height: 3.5;
    font-size: 1.2rem;
    padding-right: 2rem;
    margin-right: 1rem;
}

.account-flex_nav div {
    border-left: 0.1rem solid#11D97C;
}

.account-flex_nav {
    display: flex;
}

/*CART*/
.flex-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-header_green {
    color: #11D97C;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.cart-flex {
    display: flex;
    padding-left: 5rem;
}

.cart-cards h1 {
    margin-top: -1rem;
    font-size: 1.5rem;
    font-weight: normal;
}

.cart-flex .games-nav {
    margin-right: 10rem;
}

.cart-cards_row-1 {
    display: flex;
    margin-bottom: 2.5rem;
}
/*cart-cards_row-1_1--*/
.cart-cards_row-1_1 {
    display: flex;
    padding: 2.5rem;
    margin-right: 2.5rem;
    background-color: #00333181;
    width: 40rem;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(26, 26, 26, 0.37));
}

.cart-cards_row-1_1 h2 {
    font-size: 1.3rem;
    font-weight: 500;
}

.cart-cards_row-1_1 h3 {
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 4rem;
}

.cart-cards_row-1_2 h4 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.cart-cards_row-1_2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-cards_row-1_2 .cart-margin {
    margin-bottom: 4.5rem;
}

.cart-cards_profile-container {
    text-align: center;
}

.img-remove_container {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.img-remove_container img {
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(26, 26, 26, 0.37));
}

.cart-cards .trash-can {
    color: #CFCFCF;
    display: block;
    align-self: center;
}

.cart-cards .trash-can:hover {
    color:  #11D97C;
}
/*total-sum card--*/
.total-sum {
    width: 27rem;
    flex-direction: column;
    display: flex;
    padding: 2.5rem;
    background-color: #00333181;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(26, 26, 26, 0.37));
}

.total-sum_2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.total-sum h3 {
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.total-sum h4 {
    font-weight: normal;
    margin-bottom: 1rem;
}

.total-sum hr {
    margin-bottom: 1rem;
    background-color:  #11D97C;
    border: 0.001rem solid  #11D97C;
}

.total-sum a {
    background-color: #161616;
    padding: 1rem;
    text-align: center;
}

.total-sum a:hover {
    color: #11D97C;
}
/*2 last cards--*/
.cart-cards_row-2 {
    background-color: #00333181;
    margin-bottom: 5rem;
    padding: 2.5rem;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(26, 26, 26, 0.37));
}

.cart-cards_row-2 h3 {
    margin-bottom: 1rem;
    font-weight: normal;
}

.cart-cards_row-2 p {
    font-size: 0.8rem;
}

.cart-cards_row-2 i {
    margin-right: 1rem;
}

.cart-cards {
    color: white;
}

/*CHECKOUT*/

.payment_last-div {
    display: flex;
    justify-content: space-between;
}

.expire-div select {
    padding: 0.33rem 0.6rem;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    border: 2px solid #CFCFCF;
    font-family: "open sans", helvetica, sans-serif;
    resize: none;
}

#expire-div div, #payment_last-div {
    margin: 0;
}

.total-amount {
    margin: 1rem 0;
}

.total-amount hr {
    margin-bottom: 0.5rem;
    border: #08A689 1px solid;
}

.total-amount div {
    display: flex;
    justify-content: space-between;
}

/*
checkout message*/
#check-complete {
    text-align: center;
    margin: 0;
}

#check-complete h2 {
    font-size: 1.3rem;
}

#check-complete .back-btn {
    margin-top: 1.8rem;
}

/*GAMES*/
.games-specific_container {
    display: flex;
    padding-right: 10rem;
    color: white;
}

.games-specific_container .games-nav {
    padding-left: 5rem;
    margin-right: 10rem;
}

.games-specific_game-img {
    margin-right: 5rem;
    max-width: 25rem;
    max-height: 30rem;
    filter: drop-shadow(0.2rem 0.2rem 0.5rem rgba(26, 26, 26, 0.37));
}

.games-specific_container-2 {
    display: flex;
    justify-content: space-between;
    line-height: 3;
    margin-bottom: 4rem;
}

.games-specific_container-2 h3 {
    font-size: 2rem;
    line-height: 1;
}

.games-specific_container-2 h4 {
    font-size: 1.2rem;
    font-weight: normal;
}

.games-specific_container-2 p {
    color: #CFCFCF;
}

.games-specific_margin-h4 {
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.games-specific_profile-container {
    text-align: center;
    line-height: 1.5;
}

.games-specific_button-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 3rem;
}

.games-description {
    background-color: #161616;
    width: 37rem;
    padding: 3rem;
    margin-bottom: 5rem;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(26, 26, 26, 0.37));
}

.games-description h5 {
    font-size: 1.1rem;
    text-decoration: underline;
    margin-bottom: 2rem;
}

.btn-add-cart_black {
    background-color: #161616;
    padding: 1.35rem 10rem;
    margin-right: 2rem;
    font-weight: bolder;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(26, 26, 26, 0.37));
}

.btn-add-cart_black:hover {
    color: #11D97C;
}

.favourite_black {
    background-color: #161616;
    padding: 1rem;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(26, 26, 26, 0.37));
}

.favourite_black:hover {
    color: #11D97C;
}

/*GAMES MAIN*/
.games-main_container {
    display: flex;
    padding-right: 10rem;
    color: white;
}

.games-main_container .games-nav {
    padding-left: 5rem;
}

.slider section a {
    border:3px solid rgb(20, 20, 20);
    display:inline-block;
    line-height:0;
}

.slider section > div {
    height: 30.8rem;
    color: white;
    background-color: rgb(20, 20, 20);
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.slider section {
    display: flex;
    align-items: center;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(26, 26, 26, 0.37));
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.left {
    margin-right: 1rem;
    color: rgb(20, 20, 20);
}

.left:hover {
    cursor: pointer;
    color: white;
}

.right {
    margin-left: 1rem;
    color: rgb(20, 20, 20);
}

.right:hover {
    cursor: pointer;
    color: white;
}

.slider-container {
    width: 100%;
}

.games-main_btn {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.7rem 3rem;
    background-color: rgb(32, 32, 32);
    border-top: 3px solid rgb(20, 20, 20);
    border-left: 3px solid rgb(20, 20, 20);
    border-right: 3px solid rgb(20, 20, 20);
}

.games-main_btn:hover {
    color: #11D97C;
    background-color: rgb(20, 20, 20);
}

/*SPECIFIC MAIN*/
.flex-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-header_green {
    color: #11D97C;
    margin-top: 9rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.games-many_container a img {
    min-width: 20rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(26, 26, 26, 0.37));
}

.games-many_container {
    width: 100%;
    padding-left: 10rem;
    margin-bottom: 5rem;
}

.console-game_container .games-nav {
    padding-left: 5rem;
}

.console-game_container {
    display: flex;
    justify-content: left;
    width: 100%;
    padding-right: 7rem;
}

/*LOADER*/
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #11D97C;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-container {
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--games page*/
.games-specific-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/*---MEDIA QUERIES---*/
/*_____media-queries MAX 1500px_____*/
@media screen and (max-width: 1500px) {
    /*__CART__*/
    .cart-cards_row-1 {
        display: flex;
        flex-direction: column;
    }
    .cart-cards_row-1_1 {
        margin-right: 0;
        margin-bottom: 2.5rem;
    }
    .total-sum {
        width: 100%;
    }
    .cart-flex {
        justify-content: center;
        display: flex;
        padding-left: 0;
    }
    .cart-flex .games-nav {
        margin-right: 5rem;
    }

    /*__ACCOUNT__*/
    .account-flex {
        padding: 8rem 13rem;
        display: flex;
        flex-direction: column;
    }

    /*__GAMES__*/
    .games-specific_container {
        display: flex;
        justify-content: space-evenly;
        padding-right: 0;
    }
    .games-specific_container .games-nav {
        padding-left: 3.5rem;
        margin-right: 0;
    }
    .games-specific_game-img {
        margin-right: 0;
    }
    .games-specific_container-2 {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .games-specific_profile-container {
        text-align: start;
    }
    .btn-add-cart_black {
        padding: 1.35rem 5rem;
        margin-right: 1rem;
    }
    .games-description {
        width: 22rem;
        padding: 3rem;
        margin-bottom: 5rem;
    }
}

/*_____media-queries MAX 900px_____*/
@media screen and (max-width: 900px) {
    /*__CART__*/
    .cart-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-left: 0;
    }
    .cart-flex .games-nav {
        margin-right: 0;
        margin-bottom: 2rem;
        text-align: center;
    }
    .cart-cards_row-1_1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 2.5rem;
        margin-right: 0;
        width: 100%;
    }
    .cart-cards .trash-can {
        align-self: flex-start;
    }
    .cart-cards_row-1_2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .img-remove_container {
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .cart-flex .games-nav {
        margin-bottom: 5rem;
    }
    /*__ACCOUNT__*/
    .account-flex section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
    .account-flex {
        padding: 8rem 0rem;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .account-flex_profile {
        margin-bottom: 2rem;
    }

    /*__GAMES MAIN__*/
    .games-main_container {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
    }

    .games-main_container .games-nav {
        padding-left: 0;
        text-align: center;
        margin-bottom: 2rem;
    }

    .game-header_green {
        text-align: center;
    }

    .slider {
        padding: 0 2rem;
    }

    .slider a img {
        width: 15rem;
    }

    .slider section > div {
        width: 15rem;
        height: 20.95rem;
    }

    .slider section > div p {
       font-size: 0.8rem;
    }

    /*__GAMES__*/
    .games-specific_container .games-nav {
        padding-left: 0;
    }
    .games-specific_container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .games-specific_container .games-nav {
        margin-bottom: 3rem;
    }
    .games-specific_profile-container {
        text-align: center;
    }
    .games-specific_button-container {
        justify-content: center;
    }
    .games-specific_game-img {
        margin-bottom: 3rem;
        width: 18rem;
    }
    .btn-add-cart_black {
        padding: 1.35rem 4rem;
        margin-right: 0.5rem;
    }
    .games-description {
        width: 18.5rem;
        padding: 1.5rem;
        margin-bottom: 5rem;
    }
    .games-specific-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*__GAMES CATEGORY*/
    .console-game_container {
        flex-direction: column;
        justify-content: left;
        align-items: center;
        padding-right: 0;
    }
    .console-game_container .games-nav {
        text-align: center;
    }
    .games-many_container {
        padding-left: 0rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .console-game_container .games-nav {
        padding-left: 0;
        margin-bottom: 3rem;
    }
}

/*_____media-queries MAX 600px_____*/
@media screen and (max-width: 600px) {
    /*__MAIN NAV__*/
    .primary-nav {
        flex-direction: column;
    }

    .primary-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .primary-nav ul li a {
        padding: 1rem;
    }

    /*__FOOTER__*/ 
    footer .social-container {
        justify-content: center;
    }

    footer .social-container h3 {
        display: none;
    }

    footer .social-container ul li a {
        padding: 1rem;
    }

    /*__INDEX__*/
    .index_hero-content {
        padding: 0;
    }
    
    .index_hero-content h1 {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    
    .index_hero-content h2 {
        font-size: 1rem;
    }
    
    .index_hero-content h3 {
        font-size: 1rem;
    }
    
    .index_hero-btn {
        padding: 2rem 2rem;
        font-size: 1.2rem;
    }

    /*__CONTACT__*/
    .contact-container {
        padding: 0;
        min-height: 100%;
    }
    
    .contact-form {
        filter: none;
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
        border-radius: 0;
        min-width: 100%;
    }

    /*__GAMES MAIN__*/
    .slider section > div {
        display: none;
    }

}

/*_____media-queries MAX 450px_____*/
@media screen and (max-width: 450px) {
    /*__Checkout__*/
    .payment_last-div {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    }

    /*__ACCOUNT__*/
    .account-flex_profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .account-flex_profile img {
        margin-right: 0;
    }
    
    .account-flex_profile h1 {
        margin-bottom: 0;
    }

    /*__GAMES MAIN__*/
    .slider a img {
        width: 10rem;
    }

    .games-main_btn {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    .slider {
        padding: 0 1rem;
    }

    /*__GAMES CATEGORY__*/
    .games-many_container a img {
        width: 10rem;
        margin-right: 0;
    }
}